{
  "name": "DailyAssetReport",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/js/overseas-bonds_empty.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/overseas-bonds_empty.securejs\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"\"}"
    },
    {
      "path": "src/js/overseas-bonds.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/overseas-bonds.securejs\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"\"}"
    },
    {
      "path": "src/overseas-bonds_empty.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"overseas-bonds_empty.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/overseas-bonds.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"overseas-bonds.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "src/cart.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"cart.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/collect.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"collect.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/collect_bonds.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"collect_bonds.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/collect_empty.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"collect_empty.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/collect_fund.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"collect_fund.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/compare.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"compare.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/fund_info.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"fund_info.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/lightboxs.pug",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"lightboxs.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/search_keyword.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"search_keyword.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/announcement_holiday.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"announcement_holiday.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/announcement_dividend.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"announcement_dividend.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/announcement_MFCFirst.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"announcement_MFCFirst.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/announcement_MFCResult.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"announcement_MFCResult.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/main.securejs\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/js/announcement_MFCFirst.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/announcement_MFCFirst.securejs\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"\"}"
    },
    {
      "path": "src/global_quotation.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"global_quotation.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/global_national-indicator.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"global_national-indicator.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/global_trends.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"global_trends.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/global_trends-bonds.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"global_trends-bonds.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/global_trends-financial.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"global_trends-financial.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/global_trends-raw.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"global_trends-raw.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/component/_scrollTabs.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "src/test.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"test.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/overseas-bonds_read.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"overseas-bonds_read.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/js/mainNohead.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/mainNohead.securejs\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/global_quotation_copy.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"global_quotation_copy.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/login_page-1.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"login_page-1.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/login_page-2.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"login_page-2.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/login_page-3.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"login_page-3.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/output_details.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"output_details.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/output_details-error.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"output_details-error.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/js/charts.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/securities_assets.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"securities_assets.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/securities_assets-none.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"securities_assets-none.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/bank_assets.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"bank_assets.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/output_details_copy.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"output_details_copy.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/output_details_saving-error.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"output_details_saving-error.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/output_details_ttlAssets-non.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/output_details_error.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"output_details_error.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/output_details_fullPage-error.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"output_details_fullPage-error.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/login_page-4.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"login_page-4.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/terms.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"terms.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/lightboxs_mma.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"lightboxs_mma.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pdf.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"pdf.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/scss/pdf.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/pdf.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "js/vendors/pdf/pdf.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/vendors/pdf/pdf-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/login_page-apply.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"login_page-apply.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/login_page-dawhotou.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"login_page-dawhotou.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/output_details_closed.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"output_details_closed.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/securities_assets_closed.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"securities_assets_closed.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/securities_assets_error.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"securities_assets_error.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/bank_assets_fullPage-error.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"bank_assets_fullPage-error.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/bank_assets_error.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"bank_assets_error.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pages_index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"pages_index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src/scss",
      "js/vendors",
      "js/vendors/pdf",
      "src",
      "src/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/bank_assets.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_drawer.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/bank_assets_error.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_drawer.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/bank_assets_fullPage-error.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_drawer.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/lightboxs.pug",
      "imports": [
        "src/_layout.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/lightboxs_mma.pug",
      "imports": [
        "src/_layout.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/login_page-1.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/login_page-2.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/login_page-3.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/login_page-apply.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/login_page-dawhotou.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/output_details.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_drawer.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/output_details_closed.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_drawer.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/output_details_error.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_drawer.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/output_details_fullPage-error.pug",
      "imports": [
        "src/_layout.pug",
        "src/_drawer.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/pages_index.pug",
      "imports": [
        "src/_layout.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/securities_assets.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_drawer.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/securities_assets_closed.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_drawer.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/securities_assets_error.pug",
      "imports": [
        "src/_layout.pug",
        "src/_notice.pug",
        "src/_drawer.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/terms.pug",
      "imports": [
        "src/_layout.pug",
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/_layout.pug",
      "imports": [
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/_layoutNohead.pug",
      "imports": [
        "src/_config.pug",
        "src/layout/_header.pug",
        "src/layout/_footer.pug"
      ]
    },
    {
      "path": "src/js/main.js",
      "imports": [
        "src/js/polyfill.js",
        "src/js/nav.js",
        "src/js/navbar.js",
        "src/js/mobile-drawer.js",
        "src/js/lightbox.js",
        "src/js/tab.js",
        "src/js/noticeToggle.js",
        "src/js/dropdown.js",
        "src/js/accordion.js",
        "src/js/scrollAnim.js",
        "src/js/page.js"
      ]
    },
    {
      "path": "src/js/mainNohead.js",
      "imports": [
        "src/js/polyfill.js",
        "src/js/mobile-drawer.js",
        "src/js/lightbox.js",
        "src/js/tab.js",
        "src/js/noticeToggle.js",
        "src/js/dropdown.js",
        "src/js/accordion.js",
        "src/js/scrollAnim.js",
        "src/js/page.js"
      ]
    },
    {
      "path": "src/scss/style.scss",
      "imports": [
        "src/scss/abstracts/_variables.scss",
        "src/scss/vendors/bootstrap4/bootstrap-grid.scss",
        "src/scss/abstracts/_function.scss",
        "src/scss/abstracts/_mixins.scss",
        "src/scss/base/_reset.scss",
        "src/scss/base/_icons.scss",
        "src/scss/base/_keyframes.scss",
        "src/scss/base/_typography.scss",
        "src/scss/base/_public.scss",
        "src/scss/layout/_header.scss",
        "src/scss/layout/_layout.scss",
        "src/scss/layout/_nav.scss",
        "src/scss/layout/_footer.scss",
        "src/scss/component/_navbar.scss",
        "src/scss/component/_mobile-drawer.scss",
        "src/scss/component/_modal.scss",
        "src/scss/component/_buttons.scss",
        "src/scss/component/_js-animate.scss",
        "src/scss/component/_lightbox.scss",
        "src/scss/component/_tab.scss",
        "src/scss/component/_table.scss",
        "src/scss/component/_master.scss",
        "src/scss/pages/_dailyAssetInfo.scss",
        "src/scss/vendors/bootstrap4/_functions.scss",
        "src/scss/vendors/bootstrap4/_variables.scss",
        "src/scss/vendors/bootstrap4/mixins/_breakpoints.scss",
        "src/scss/vendors/bootstrap4/mixins/_grid-framework.scss",
        "src/scss/vendors/bootstrap4/mixins/_grid.scss",
        "src/scss/vendors/bootstrap4/_grid.scss",
        "src/scss/vendors/bootstrap4/utilities/_display.scss",
        "src/scss/vendors/bootstrap4/utilities/_flex.scss"
      ]
    },
    {
      "path": "src/scss/vendors/bootstrap4/bootstrap-grid.scss",
      "imports": [
        "src/scss/vendors/bootstrap4/_functions.scss",
        "src/scss/vendors/bootstrap4/_variables.scss",
        "src/scss/vendors/bootstrap4/mixins/_breakpoints.scss",
        "src/scss/vendors/bootstrap4/mixins/_grid-framework.scss",
        "src/scss/vendors/bootstrap4/mixins/_grid.scss",
        "src/scss/vendors/bootstrap4/_grid.scss",
        "src/scss/vendors/bootstrap4/utilities/_display.scss",
        "src/scss/vendors/bootstrap4/utilities/_flex.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}