@keyframes float {
	to {
		transform: translateX(50%);
	}
}
@keyframes fadeIn {
	from {
		// transform: translateY(30px);
		opacity: 0;
	}
}
@keyframes fadeInUp {
	from {
		transform: translateY(-1em);
		opacity: 0;
	}
}
@keyframes fadeInDown {
	from {
		transform: translateY(1em);
		opacity: 0;
	}
}
@keyframes fadeInLeft {
	from {
		transform: translateX(-1em);
		opacity: 0;
	}
}
@keyframes spin {
	from {
		transform: rotate(-359deg);
	}
}
