- var author = '永豐銀行'
- var og_title = '銀證整合資產報告'
- var og_image = ''
//- https://mma.sinopac.com/MMA8/mma/
- var og_url = ''
//- https://mma.sinopac.com/
- var og_desc = ''
- var meta_keyword = ''

- var root = './'
- var nameSpace