extends _layout.pug

append vars
  - var noticeType = 'notice'
  - var noticeName = 'fund'
  - var hasChart = true

append script
  script(src=root+"js/charts/charts_bank.securejs")

block content
  main.bg-pink.content
    // * 嘉實開發 Start *
    .wrap__inner
      .flex-between.mt-12.mb-8.mt-4-lg.mb-6-lg
        h2.heading2 銀證整合資產日報告
        .flex-between.sub__tool-mobile
          a.sub__tool-btn.o-link.o-link--md.o-link--gray.desktop-drawer-trigger(href='#showMore' title='更多功能')
            i.o-link__icon.icon-Basic_nav-more
        .flex-between.sub__tool
          a.sub__tool-btn.o-link.o-link--gray.desktop-drawer-trigger(href='#exportDetails' title='匯出明細')
            i.o-link__icon.icon-Basic_export-details.icon__tl
            span 匯出明細
          a.sub__tool-btn.o-link.o-link--gray.l-open(href='#applyCancel' title='取消申請')
            i.o-link__icon.icon-Basic_cancel-apply.icon__tl
            span 取消本服務
      .tab.scrollable-tabs-container.mb-8.mb-6-lg
        button.tab__arrows.tab__arrows--prev
          i.icon-Basic_angle-left
        .tab__bar.scrollable-box
          a.tab__item(href='#tab0') 總資產
          a.tab__item.tab__item--active(href='#tab1') 銀行資產
          a.tab__item(href='#tab2') 證券資產
        button.tab__arrows.tab__arrows--next
          i.icon-Basic_angle-right
      .flex-between.mb-4
        h4.heading4 基準日：
          span 2023 年 02 月 23 日
      section.section
        .l-container
          .l-container__body
            .resultMessage
              .resultMessage__content
                .imgMessage__imgwrap
                  img.imgMessage__img(src=root+'images/global/img-404.png' alt='')
                .resultMessage__title Oops…工程師努力搶修中
                .resultMessage__desc 請稍後再試
                .resultMessage__link 
                  a(href="") 重新整理
      section.section
        .l-container.l-container__redLine
          .l-container__head.l-container__head-line
            .l-container__head-text.mb-4.mb-1-lg
              .flex-center 
                h3.heading3.d-inline-block 銀行負債總額
                a.o-link.o-link--gray.hideInfo-trigger-2
                  i.o-link__icon.icon-Basic_eye-open.icon__tr
          .l-container__body
            .subtitle__header
              .flex-center 
                h5.heading5 銀行負債總額
                a.o-link.o-link--gray.hideInfo-trigger-2
                  i.o-link__icon.icon-Basic_eye-open.icon__tr
            .subtitle__content.amount__wrap.mb-6 
              .amount__price.amount__price-2
                h3.subtitle__curr TWD
                h3.subtitle__value.ml-1 1,000,000
              .amount__hide-info-2
                i.o-link__money.o-link--red.icon-Basic_money-hide.icon__tl
                i.o-link__money.o-link--red.icon-Basic_money-hide.icon__tl
                i.o-link__money.o-link--red.icon-Basic_money-hide.icon__tl
            .chart__wrap.securChart__wrap
              //- 放銀行負債總額(無資料)
            .row
              .col-12
                .accordionList
                  //- header
                  .accordionList__header
                    .accordionList__markItem
                      .accordionList__row
                        .accordionList__title.mk_blue
                          h5 貸款
                            span (99%)
                        .accordionList__num.amount__price-2
                          h5.accordionList__curr TWD
                            span.accordionList__value 2,000,000
                        .amount__hide-info-2
                          p *****
                    a.accordionList__toggle
                  //- contents
                  .accordionList__contents
                    .accordionList__content
                      .accordionList__item
                        .accordionList__row
                          .accordionList__title
                            h5 房屋貸款
                              span (92%)
                          .accordionList__num.amount__price-2
                            h5.accordionList__curr TWD
                              span.accordionList__value 2,000,000
                          .amount__hide-info-2
                            p *****
                      a(href="#我只是link" target="_blank").accordionList__link
                    .accordionList__content
                      .accordionList__item
                        .accordionList__row
                          .accordionList__title
                            h5 信用貸款
                              span (23%)
                          .accordionList__num.amount__price-2
                            h5.accordionList__curr TWD
                              span.accordionList__value 2,000,000
                          .amount__hide-info-2
                            p *****
                      a(href="#我只是link" target="_blank").accordionList__link
                    .accordionList__content
                      .accordionList__item
                        .accordionList__row
                          .accordionList__title
                            h5 其他貸款
                              span (23%)
                          .accordionList__num.amount__price-2
                            h5.accordionList__curr TWD
                              span.accordionList__value 2,000,000
                          .amount__hide-info-2
                            p *****
                      a(href="#我只是link" target="_blank").accordionList__link                  
                  //- header
                  .accordionList__header
                    .accordionList__markItem
                      .accordionList__row
                        .accordionList__title.mk_blueLight
                          h5 帳戶透支
                            span (0%)
                        .accordionList__num.amount__price-2
                          h5.accordionList__curr TWD
                            span.accordionList__value 500,000
                        .amount__hide-info-2
                          p *****
                    a(href="#我只是link" target="_blank").accordionList__link
                  //- header
                  .accordionList__header
                    .accordionList__markItem
                      .accordionList__row
                        .accordionList__title.mk_orange
                          h5 信用卡消費
                            span (0.2%)
                        .accordionList__num.amount__price-2
                          h5.accordionList__curr TWD
                            span.accordionList__value 250,000
                        .amount__hide-info-2
                          p *****
                    a(href="#我只是link" target="_blank").accordionList__link
                  //- header
                  .accordionList__header
                    .accordionList__markItem
                      .accordionList__row
                        .accordionList__title.mk_yellow
                          h5 附條件RP庫存
                            span (0%)
                        .accordionList__num.amount__price-2
                          h5.accordionList__curr TWD
                            span.accordionList__value 250,000
                        .amount__hide-info-2
                          p *****
                    a(href="#我只是link" target="_blank").accordionList__link
      include _notice.pug
    // * 嘉實開發 End *

  // * drawer Start *
  include _drawer.pug
  // * drawer End *
  // * lightbox Start *
  append lightbox
    //- 雙按鈕 綜合對帳單查詢-取消申請2
    #applyCancel.lightbox
        .wrap__inner
          .lightbox__content
            .lightbox__box
              .lightbox__body.center
                .lightbox__icon.icon-Basic_notice.text-red-500
                h4.lightbox__title 確定取消銀證整合資產日報告？
                p.info 您確定要取消銀證整合資產日報告？提醒您，取消後將無法查看。
              .lightbox__footer
                .lightbox__btnbox
                  a.lightbox__btn.btn.btn--secondary.l-open(target='#cancelSuccess' title='我要取消') 我要取消
                  a.lightbox__btn.btn.btn--primary.lightbox__close(href='#' title='先不要') 先不要
    //- 單按鈕 設定/綜合對帳單/申請/銀行對帳單
    #cancelSuccess.lightbox
      .wrap__inner
        .lightbox__content
          .lightbox__box
            .lightbox__body.center
              .lightbox__icon.icon-Basic_check-circle.negative
              h4.lightbox__title 取消成功 !
            .lightbox__footer
              .lightbox__btnbox
                a.lightbox__btn.btn.btn--primary.lightbox__close(href='#' title='我知道了') 我知道了

  // *  lightbox End *