footer.footer
  if isLite
    a.footer__top
      i.icon-lg.icon-Basic_angle-top.text-white
    .footer__container.bg-gray-900
      .footer__inner.pt-4.pb-4.text-gray-400
        .wrap__inner
          .d-flex.align-items-center.justify-content-center.justify-content-lg-between
            .footer__caption.hide-lg
              a(href="http://", target="_blank", rel="noopener noreferrer") 瀏覽器建議
              
            p.footer__copyright ©永豐商業銀行股份有限公司
  else
    a.footer__top
      i.icon-lg.icon-Basic_angle-top.text-white
    .footer__container.bg-gray-700.hide-lg
      .footer__inner.pt-5.pb-5.text-white
        .wrap__inner.d-flex.justify-content-between.align-items-center
          .footer__service
            span 銀行客服：02-2505-9999
            span 信用卡客服：02-2528-7776
          .footer__links
            a(href="http://", target="_blank", rel="noopener noreferrer") 客服中心
            a(href="http://", target="_blank", rel="noopener noreferrer") 服務據點
            a(href="http://", target="_blank", rel="noopener noreferrer") 無障礙網銀
            a(href="http://", target="_blank", rel="noopener noreferrer") 舊版網銀網站
          .footer__medias.d-flex
            a.icon.icon--alone.icon--FacebookGray-100.mr-2(href="http://", target="_blank", rel="noopener noreferrer") 
            a.icon.icon--alone.icon--LineGray-100.mr-2(href="http://", target="_blank", rel="noopener noreferrer") 
            a.icon.icon--alone.icon--YoutubeGray-100(href="http://", target="_blank", rel="noopener noreferrer") 

    .footer__container.bg-gray-900
      .footer__inner.pt-4.pb-4.text-gray-400
        .wrap__inner
          .d-flex.align-items-center.justify-content-center.justify-content-lg-between
            .footer__caption.hide-lg
              a(href="http://", target="_blank", rel="noopener noreferrer") 著作權說明
              a(href="http://", target="_blank", rel="noopener noreferrer") 隱私權保護聲明
              a(href="http://", target="_blank", rel="noopener noreferrer") 法定公開揭露事項
              a(href="http://", target="_blank", rel="noopener noreferrer") 網路安全說明
              a(href="http://", target="_blank", rel="noopener noreferrer") 客戶使用網路銀行注意事項
              a(href="http://", target="_blank", rel="noopener noreferrer") 各項收費標準與公告事項
            p.footer__copyright ©永豐商業銀行股份有限公司